<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.TestStand.Interop.UI.AxControls" publicKeyToken="AD9244EB3B825CD8" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.196" newVersion="14.0.0.196"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.TestStand.Interop.UI" publicKeyToken="AD9244EB3B825CD8" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.196" newVersion="14.0.0.196"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.TestStand.Interop.API" publicKeyToken="AD9244EB3B825CD8" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.196" newVersion="14.0.0.196"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.TestStand.Interop.UI.Support" publicKeyToken="AD9244EB3B825CD8" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.196" newVersion="14.0.0.196"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
